.detailMoviesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 50px 20px;
  overflow: auto;
  z-index: 2;

  .detailMovies {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #111;
    max-width: 1000px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px -5px #5e5e5e;
    z-index: 3;

    .detailClose {
      position: absolute;
      top: -15px;
      right: -5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 11px;
      background-color: #fff;
      font-family: "Courier New", Courier, monospace;
      cursor: pointer;
      color: #111;
      font-size: 20px;
      border-radius: 50%;
      font-weight: 500;

      &:hover {
        background-color: #bbb;
        transition: 0.5s;
      }
    }

    img {
      width: 100%;
      border-radius: 20px 20px 0 0;
    }

    .detailMoviesTexts {
      padding: 30px 50px;
      padding-bottom: 70px;
      border-radius: 20px;

      .detailMoviesTitle {
        font-weight: bold;
        text-align: left;
      }

      .detailMoviesOverview {
        white-space: pre-line;
        font-weight: 100;
        margin: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .detailMoviesContainer {
    .detailMovies {
      .detailMoviesTexts {
        padding: 7%;
        padding-bottom: 70px;
        .detailMoviesTitle,
        .detailMoviesOverview {
          text-align: center;
        }
      }
    }
  }
}
